body {
    background-color: #f8f9fa;
}

#cv-output {
    background-color: #ffffff;
    /* padding: 20px; */
    border: 1px solid #97cbff;
    border-radius: 10px;
}

.photo-preview {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #dee2e6;
    margin: 0 auto;
}

.education-field, .experience-field {
    border: 1px solid #dee2e6;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.left-column {
    background-color: #00aaff;
    padding: 20px;
    border-radius: 5px;
}

#output-photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #dee2e6;
    margin: 0 auto;
}

.cv-title {
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    
}

.personal-info-box {
    border: 1px solid #dee2e6;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.personal-info-box h3 {
    background-color: #00aaff;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    margin: -15px -15px 10px -15px;
}

.right-column {
    background-color: #ccc;
    padding: 20px;
    border-radius: 5px;
    margin-left: 15px; /* Agregar margen para la separación */
}
.experience-title, .education-title{
    text-align: center;
}
.experience-content, .education-content{
    text-align: left;
}
.bold-text{
    font-weight: bold;
}
@page {
    size: A4;
    margin: 0;
  }


  @media print {
    html, body {
        background-color: #f8f9fa; /* Aplicar el mismo fondo */
        width: 210mm;
        overflow: hidden;
    }

    #cv-output {
        background-color: #ffffff;
        padding: 20px;
        border: 1px solid #dee2e6;
        border-radius: 10px;
    }

    .photo-preview, #output-photo {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid #dee2e6;
        margin: 0 auto;
    }

    .education-field, .experience-field {
        border: 1px solid #dee2e6;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
    }

/*     .left-column, .right-column {
        padding: 20px;
        border-radius: 5px;
        background-color: #ccc; /* Asegurar que se mantenga el color */
    } */

    .left-column {
        width: 33%;
        float: left;
        border-radius: 5px;
        padding: 20px;
        background-color: #ccc;
    }

    .right-column {
        border-radius: 5px;
        width: 65%;
        float: left;
        margin-left: 2%;
        background-color: #ccc;
    }

    .personal-info-box {
        border: 1px solid #dee2e6;
        padding: 15px;
        margin-bottom: 15px;
        border-radius: 5px;
    }

    .personal-info-box h3 {
        background-color: #00aaff;
        color: #ffffff;
        text-align: center;
        padding: 10px;
        border-radius: 5px 5px 0 0;
        margin: -15px -15px 10px -15px;
    }

    .cv-title {
        font-family: 'Nunito', sans-serif;
        font-size: 24px;
        font-weight: bold;
        margin-top: 10px;
    }

    .cv-container {
        display: flex;
        flex-wrap: nowrap;
    }

    .full-print-height {
        min-height: 297mm;
        height: auto;
    }

    .experience-title, .education-title {
        text-align: center;
    }

    .experience-content, .education-content {
        text-align: left;
    }

    .bold-text {
        font-weight: bold;
    }

    /* Mantener las columnas */
    .col-print-1 {width:8%;  float:left;}
    .col-print-2 {width:16%; float:left;}
    .col-print-3 {width:25%; float:left;}
    .col-print-4 {width:33%; float:left;}
    .col-print-5 {width:42%; float:left;}
    .col-print-6 {width:50%; float:left;}
    .col-print-7 {width:58%; float:left;}
    .col-print-8 {width:66%; float:left;}
    .col-print-9 {width:75%; float:left;}
    .col-print-10{width:83%; float:left;}
    .col-print-11{width:92%; float:left;}
    .col-print-12{width:100%; float:left;}
}